@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
 @font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: "Comfortaa";
    src: url("../fonts/Comfortaa-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    }
                