.partners__list {
    display: flex;
    justify-content: space-evenly;
}
 
.partners__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
 
.partners__img {
    object-fit: contain;
    width: 400px;
    height: 200px;
}